<ion-content class="bg-image no-scroll">
    <ion-card-content class="imagen-card">
      <ion-img src="assets/img/logo_adr_color.png"></ion-img>
    </ion-card-content>
  <ion-card-content class="imagen-card">
    <ion-img src="assets/img/logo_maranatha_color.png"></ion-img>
  </ion-card-content>
  <ion-card-content align="center">
    <ion-spinner color="primary" name="lines"></ion-spinner>
    <ion-text color="light" align="center">
      <h3>Cargando</h3>
    </ion-text>
  </ion-card-content>
</ion-content>

